body {
    margin: 0;
    -ms-overflow-style: none;
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    min-width: 100px;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.content {
    scroll-snap-type: block mandatory;
    overflow: auto;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

